<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        body{
            background-image: url("templates/css/img/companies.jpg");
        }
    </style>
</head >
<body >

<div class="container">


  <h3> <header>
        <ul>
            <li>
                <a href="/loginPage">Login</a>
            </li>
            <li>
                <a href="/company">Company</a>
            </li>
            <li>
                <a href="/employee">Employee</a><br>
            </li>
            <li>
                <a href="/adminPanel">Admin Panel</a><br>
            </li>

        </ul>
    </header></h3>


</div>
</body>
</html>